random2
Click==7.0
Flask==1.1.1
numpy 
stop-words
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
pandas
matplotlib

ftfy
nltk
sklearn
Pillow
warn
spacy
en-core-web-sm-abd
python-docx
pyresparser


setuptools>=41.0.0
srsly<1.10
cython<0.29.18


