random2
Click==7.0
Flask==1.1.1

opencv-python-headless

numpy 
stop-words
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
tensorflow==1.15.2
matplotlib
pandas
ftfy

sklearn
pystan
fbprophet

keras

warn

python-docx
pyresparser
pmdarima
statsmodels
setuptools>=41.0.0
srsly<1.10
cython<0.29.18


